/* Basic */

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

.browserupgrade {
  margin: 0;
  padding: .5rem 1rem;
  background-color: #fcfcfc;
  text-align: center;
}

.btn {
  padding-left: .75rem;
  padding-right: .75rem;
}

label.btn {
  margin-bottom: 0;
}

.d-flex > .btn {
  flex-grow: 1;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #0074d9;
  border-radius: 0;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: .875rem;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

@media (min-width: 992px) {
  .docs-jumbotron h1,
  .docs-jumbotron p {
    margin-right: 380px;
  }
}

.docs-carbonads-container {
  position: relative;
}

.docs-carbonads {
  font-size: .875rem;
  max-width: 360px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  overflow: hidden;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  float: left;
  display: block;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

@media (min-width: 992px) {
  .docs-carbonads {
    position: absolute;
    right: 0;
    bottom: -1.25rem;
  }
}


/* Content */

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 100px;
  max-height: 140px;

}

@media (min-width: 768px) {
  .img-container {
    min-height: 200px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -1rem;
}

.img-preview {
  float: left;
  margin-right: .5rem;
  margin-bottom: .5rem;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 16rem;
  height: 9rem;
}

.preview-md {
  width: 8rem;
  height: 4.5rem;
}

.preview-sm {
  width: 4rem;
  height: 2.25rem;
}

.preview-xs {
  width: 2rem;
  height: 1.125rem;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: .5rem;
}

.docs-data > .input-group > label {
  min-width: 5rem;
}

.docs-data > .input-group > span {
  min-width: 3rem;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: .25rem;
  margin-bottom: .5rem;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: .5rem;
}

.docs-tooltip {
  display: block;
  margin: -.5rem -.75rem;
  padding: .5rem .75rem;
}

.docs-tooltip > .icon {
  margin: 0 -.25rem;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: .5rem;
}

.btn-toggle > .docs-tooltip {
  margin: -.5rem;
  padding: .5rem;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -1rem!important;
  }

  .btn-group-crop > .btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}


/* Footer */

.docs-footer {
  font-size: .875rem;
  overflow: hidden;
}

.docs-footer .nav {
  margin-bottom: 1rem;
}

.heart {
  position: relative;
  display: block;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
  color: #ddd;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
}

.heart:hover {
  color: #ff4136;
}

.heart:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  border-top: 1px solid #eee;
  content: " ";
}

.heart:after {
  position: relative;
  z-index: 1;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #fff;
  content: "♥";
}


.logo_company{
  max-height: 55px;
  height: auto;
  width: auto;
  }

  .logo_tmido{
      padding: 10px;
      max-height: 50px;
      height: auto !important;
      width: 160px !important;
      margin-top: 10px;
  }
  .client_.container {
    margin-top: 5em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .title_evaluation_cell{
      font-size: 12px;
      font-weight: bold;
      color: black;
  }
  .title_profile_cell{
      font-size: 10px;
      color: gray;
  }
  .like_text_cell{
      font-weight: bold;
      font-size: 9px;
      color:black;
  }
  .yes_not_text_cell{
      font-weight: bold;
      color:darkred;
      font-size: 11px;
  }
  .image_picker_image{
      max-height: 100px;
  }
  .thumbnail p{
      font-weight: bold;
      font-size:12px;
  }
  .item_factor{
    margin-bottom: 5px;
  }
  .btn-group{
      float: left;
  }
  .btn-upload{
      float: right;
  }


  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  .anchor{
      height: 0;
      width: 0;
  }
